<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OAuth Demo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-logo">
        <div class="container">
            <div class="navbar-header">
                <a href="@Url.Content("~/")"><img src="https://accounts.compliashield.com/Content/logos/samples-health-choice-vert.png" title="OAuth Test" /></a>
            </div>
        </div>
    </div>
    <div class="navbar navbar-2 navbar-inverse">
        <div class="container">
            <div class="navbar-header navbar-header-menu">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("My Account", "Index", "Default", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul id="navBarMain" class="nav navbar-nav navbar-primary">
                    @*<li>@Html.ActionLink("Home", "Index", "Default")</li>
                        <li>@Html.ActionLink("About", "About", "Default")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Default")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <a href="https://www.compliashield.com" target="_blank">CompliaShield</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
